.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;

  .header {
    flex: 0 0 auto;
    background-color: #141414;
    color: #fefefe;
    display: flex;
    align-items: center;
    padding: 20px 0;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .info {
      margin: 0;
    }

    .link {
      color: #fefefe;
      text-decoration: none;
    }
  }

  .nav {
    .link {
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      color: inherit;
      margin: 10px 30px;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .main {
    flex: 1 1 auto;
    padding: 20px 0;
  }

  .footer {
    flex: 0 0 auto;
    background-color: #141414;
    color: #fefefe;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px 0;

    .link {
      color: #fefefe;

      &:hover {
        color: #c5c5c5;
      }
    }
  }
}
